{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for i in leftbar %}
                    {% if loop.index - 1 == active %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                    {% endif %}
                        <a href="/editcourses/id/{{id}}/{{i[0]}}">{{i[1]}}</a>
                    </li>
                    {% endfor %}
                    <li role="presentation" class="active">
          					<a href="/courses/id/{{id}}/courseindex">返回课程主页</a>
          					</li>
                </ul>
            </div>

            <div class="col-md-9">
                <ul class="list-group">
                    <a class="list-group-item active"> 课件 </a>
                    <div class="list-group-item">
                        <a href="#">添加新课件</a>
                    </div>
                    {% for i in lesson %}
                    <div class="list-group-item">
                        <p>{{i.body}}</p>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
