{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for i in leftbar %}
                    {% if loop.index - 1 == active %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                    {% endif %}
                        <a href="/editcourses/id/{{id}}/{{i[0]}}">{{i[1]}}</a>
                    </li>
                    {% endfor %}
                    <li role="presentation" class="active">
          					<a href="/courses/id/{{id}}/courseindex">返回课程主页</a>
          					</li>
                </ul>
            </div>

            <div class="col-md-9">
                <ul class="list-group">
                    <a class="list-group-item active"> 添加成绩(test) </a>
                    <div class="list-group-item">
                      <div style="padding: 10px 10px 10px;">
                        <p>此功能暂时只用于测试</p>
                        <p>成绩类型有如下三种，其中线上成绩会自动统计，不需要自行添加:</p>
                        <p>平时成绩：attendance</p>
                        <p>线上成绩：homework</p>
                        <p>线下成绩：examination</p>
                        <form class="bs-example bs-example-form" role="form">
                          <div class="input-group col-md-6">
                            <span class="input-group-addon">学生id </span>
                            <input type="text" class="form-control" placeholder="学生id">
                          </div>
                          <br>
                          <div class="input-group col-md-6">
                            <span class="input-group-addon">成绩类型</span>
                            <input type="text" class="form-control" placeholder="成绩类型">
                          </div>
                          <br>
                          <div class="input-group col-md-6">
                            <span class="input-group-addon">成绩</span>
                            <input type="text" class="form-control" placeholder="成绩">
                          </div>
                          <br>
                          <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="postform()">提交修改</button>
                          </div>
                        </form>
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script>
    function postform() {
      $.post("./insertscore_post",
      {
          student_id:  $("input")[0].value,
          type: $("input")[1].value,
          mark: $("input")[2].value,
      },
      function(data,status){
          console.log(data)
          if (data == 'Done') {
              window.location.href="./insertscore";
          }
          else {
              alert('提交分数失败')
          }
      });
    }
    </script>
{% endblock %}
