{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-xs-3">
      <ul class="nav nav-pills nav-stacked">
        {% for i in leftbar %}
        {% if loop.index -1 == active %}
        <li role="presentation" class="active">
          {% else %}
          <li role="presentation">
            {% endif %}
            <a href="/admin/{{i[0]}}">{{i[1]}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-9">
        <ul class="list-group">
          <a class="list-group-item active"> 判题测试 </a>
          <div class="list-group-item">
            <div class="input-group col-md-6">
              <span class="input-group-addon">homework_id</span>
              <input type="text" class="form-control" id = "homeworkid" placeholder="homework_id">
            </div></br>
            <button class="btn btn-default" onclick="judgebyhomeworkid()">批改作业(homework_id)</button>
            </br></br>
            <div id="progress"></div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <script>
  function judgebyhomeworkid() {
    $.post("/admin/answer_studentid_list",
    {
        id: $("#homeworkid")[0].value,
    },
    function(data,status){
        answer_studentid_list = eval(data)
        console.log(answer_studentid_list.length)
        $("#progress").html("<div class='progress'><div class='progress-bar' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 0%;'><span class='sr-only'></span></div></div>")
        judgebyanswerstudentid(0, answer_studentid_list)
    });
  }
  function judgebyanswerstudentid(i, list) {
    $.post("/admin/judgebyanswerstudentid",
    {
        id: list[i],
    },
    function(data,status){
        console.log(data)
        if (data == 'Done') {
            if (i+1 < answer_studentid_list.length) {
              console.log((Math.round(100.0/answer_studentid_list.length*(i+1))).toString())
              $(".progress-bar").attr("style", "width: "+ (Math.round(100.0/answer_studentid_list.length*(i+1))).toString() +"%;")
              //速度太快了！进度条来不及跑
              //做个延时显得很好看
              //然而实际没有什么用
              //要优化的话吧延时改成0吧
              setTimeout(judgebyanswerstudentid(i+1, list), 600)
            }
            else {
              $(".progress-bar").attr("style", "width: 100%;")
              setTimeout("alert('批改成功')",600)
            }
        }
        else if (data == 'not_found') {
            alert('未找到该作业!')
            window.location.href="./";
        }
        else {
            alert('批改失败')
        }
    });
  }
  </script>

  {% endblock %}
