{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for i in leftbar %}
                    {% if loop.index - 1 == active %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                    {% endif %}
                        <a href="/teacher/{{i[0]}}">{{i[1]}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">
                <ul class="list-group">
                    <a class="list-group-item active"> 我的课程 </a>
                    {% for i in allclasses %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading" style="color:black">{{i.coursename}}</h4>
                        <a href="#" style="color:grey">#{{i.courseid}}</a>
                        <a href="/editcourses/id/{{i.id}}/indexpreview" style="float: right">管理课程</a>
                        <a href="/courses/id/{{i.id}}" style="float: right">课程主页&nbsp;</a>
                        <p style="float: right;margin-right: 50px">
                            学生数量: {{ number[loop.index - 1] }} 课程状态: {% if state[loop.index - 1] == 1 %}未开始{% elif state[loop.index - 1] == 2 %}进行中{% else %}已结束{% endif %}</p>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
