{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for i in leftbar %}
                    {% if loop.index - 1 == active %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                    {% endif %}
                        <a href="/teachercenter/{{i[0]}}">{{i[1]}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">
                <ul class="list-group">
                    <a class="list-group-item active"> 修改密码 </a>
                    <div class="list-group-item">
                        <!-- 表单 -->

                        <div style="padding: 10px 10px 10px;">
                        	<form class="bs-example bs-example-form" role="form">
                            <div class="input-group">
                            	<span class="input-group-addon">旧密码</span>
                            	<input type="password" class="form-control" placeholder="旧密码">
								
                            </div>
                        		<br>
                        		<div class="input-group">
                            	<span class="input-group-addon">新密码</span>
                        			<input type="password" class="form-control" placeholder="新密码">
                        		</div>
                        		<br>
                            
                            
                          
                            <div class="form-group">
                          		<div class="col-sm-offset-0 col-sm-10">
                          			<button type="button"class="btn btn-default" onclick="postform()">确定修改</button>
                          		</div>
                          	</div>
                          </form>
                        </div>
                        <br><br>
                    </div>
                </ul>
                </div>
        </div>
    </div>
    <script>
    function postform() {
      $.post("./changepassword",
      {
          oldpassword:   $("input")[0].value,
          newpassowrd:   $("input")[1].value,
      },
      function(data,status){
          console.log(data)
          if (data == 'Done') {
              alert('修改密码成功!')
              window.location.href="./";
          }
          else {
              alert('修改密码失败')
          }
      });
    }
    </script>
{% endblock %}
