{% extends "base.html" %}
{% block style %}
<style>
  .spanbutton:hover {
    cursor: pointer;
  }
</style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for i in leftbar %}
                    {% if loop.index - 1 == active %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                    {% endif %}
                        <a href="/teachercenter/{{i[0]}}">{{i[1]}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">
                <ul class="list-group">
                    <a class="list-group-item active"> 个人信息 </a>

                    <div class="list-group-item">
                        <p style="font-size: 18px">用户名：{{username}}</p>
                        <span style="font-size: 18px">邮箱：{{email}}</span>
                        {% if email_check != 1 %}
                        <span class="spanbutton"style="font-size: 12px;color: red" data-toggle="modal" data-target="#check_email">未验证</span>
                        {% else %}
                        <span style="font-size: 12px;color: green">已验证</span>
                        {% endif %}
                        <span style="font-size: 12px;color: grey"> | 修改邮箱</span>
                    </div>

                </ul>
                </div>
        </div>
    </div>
    <div class="modal fade" id="check_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">验证邮箱</h4>
                </div>
                <div class="modal-body">邮箱：{{email}}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="check_email()">发送验证邮件</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    function check_email() {
      $.post("./check_email",
      {
      },
      function(data,status){
          console.log(data)
          if (data == 'Done') {
              alert('请前往邮箱完成验证')
              window.location.href="./";
          }
      });
    }
    </script>
{% endblock %}
