{% extends "base_student.html" %}
{% block content %}
    <div class="container" style="margin-top: 30px">
      <div class="col-xs-9" id="about"># 关于Mantels | Course

version Alpha v1.0

---

### 开发者：

<img src="https://gitee.com/Matthias/TouXiangKu/raw/master/%E7%88%B8%E7%88%B8%E5%B8%85%E6%B0%94%E7%9A%84%E5%A4%B4%E5%83%8F.png"  style = "height: 30px;" alt="爸爸帅气的头像" />
华子滢 ([GitHub](https://github.com/MatthiasHua)) [matthias@mail.matthias.cn](mailto:matthias@mail.matthias.cn)

<img src="https://gitee.com/Matthias/TouXiangKu/raw/master/%E5%90%89%E7%A5%A5%E7%89%A9.png"  style = "height: 30px;" alt="吉祥物" />
 吴&emsp;静 ([GitHub](https://github.com/TatjanaWu))

---
### 版权声明：
本网站由Mantels开发组运行维护。本网站向公众开放，提供基于课程学习的服务。网站本身开源，您可以访问我们的GitHub库获取网站[源码](https://github.com/MatthiasHua/Mantels-Course)。我们鼓励您参与本网站的开发及维护。网站基于[GPL](http://www.gnu.org/licenses/gpl.html)协议,请确保您在使用时遵循协议内容。


</div>
    </div>
    <script>
    window.onload=function(){
      $('#about').html(marked($("#about").html()))
    }
    </script>
{% endblock %}
