{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <a class="list-group-item active">{{homework.name}}</a>
        <div class="list-group-item">
          <div id="body"></div>
          <br>
          <button class="btn btn-default" onclick="postform()">提交</button>
          <button class="btn btn-default" onclick="window.location.href='/courses/id/{{homework.class_id}}/homework'">返回</button>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="raw" style="display: none">{{homework.body}}</div>
<script>
function postform() {
  check = true
  body = 'inputradio'
  for (j = 1; j <= i; j++) {
    val = $('input:radio[name="radio' + j + '"]:checked').val()
    if (val != undefined) {
      body += '~' + val
    }
  }
  body +='~inputlabel'
  $('.inputlabel').val(function(i, origText){
    console.log(origText)
    if (origText == '') {
      check = false
    }
    body += '~' + origText
    return origText
  })
  console.log(body)
  if (check) {
    $.post("./{{id}}",
    {
      body: body,
    },
    function(data,status){
      console.log(data)
      if (data == 'Done') {
        alert('提交成功')
        window.location.href="./{{id}}";
      }
      else {
        alert('提交失败，请检查网络连接。')
      }
    });
  }
  else {
    alert('请完成所有练习后提交')
  }
}
var i = 0;
window.onload = function(){
  $('#body').html(marked($("#raw").html()))
  $('.inputradio').attr('class', function() {
    i += 1
    return 'inputradio' + i})
  for (j = 1; j <= i; j++) {
    $('.inputradio' + j).children('input').attr("name", "radio" + j)
  }
  inputlabelindex = 0
  console.log($('.inputlabel').attr('id', function(){
    inputlabelindex ++
    return 'inputlabel'+ (inputlabelindex-1)
  }))
}
</script>
{% endblock %}
