{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <a class="list-group-item active">{{homework.name}}</a>
        {% for question in questions %}
        <div class="list-group-item" id = "question{{ loop.index }}">
        </div>
        {% endfor %}
        <div class="list-group-item">
          <div id="body"></div>
          <br>
          <button class="btn btn-default" data-toggle="modal" data-target="#changebody">修改试题内容</button>
          <button class="btn btn-default" onclick="postform()">提交答案</button>
          <button class="btn btn-default" onclick="postscore()">设置分值</button>
          <button class="btn btn-default" onclick="window.location.href='/help'">帮助</button>
          <button class="btn btn-default" onclick="window.location.href='/editcourses/id/{{homework.class_id}}/homework'"> 返回</button>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changebody" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          修改试题内容
        </h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control changebodytextarea" rows="7"></textarea>
        tip: 使用Markdown渲染 | <a href="/markdowneditor"> Mantels Markdown Editor </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" onclick="postbody()">
          提交更改
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
{% for question in questions %}
  <div id="raw_question{{ loop.index }}" style="display: none">{{questions[loop.index - 1].content}}</div>
{% endfor %}

<script>
function postform() {
  var f = true;
  for (var i = 0; i < {{ questions|length }}; i++) {
    val = $('#question' + (i + 1)).children('div').children('input:radio[name="radio-' + (i + 1) + '-1"]:checked').val()
    console.log(val)
    $.post("./{{id}}",
    {
      question: i + 1,
      content: val,
    },
    function(data,status){
      console.log(data)
      if (data == 'Done') {
        //alert('提交成功')
        //window.location.href="./{{id}}";
      }
      else {
        f = false
        alert('提交失败，请检查网络连接。')
      }
    });
  }
  if (f) {
      alert('提交成功')
      window.location.href="./{{id}}";
  }
}

//这里还要验证一下是不是数字
function postscore() {
  check = true
  body = '0'
  $('.inputlabel').val(function(i, origText){
    console.log(origText)
    if (origText == '') {
      check = false
    }
    body += '~'+origText
    return origText
  })
  console.log(body)
  if (check) {
    $.post("/edithomework/score/{{id}}",
    {
      body: body,
    },
    function(data,status){
      console.log(data)
      if (data == 'Done') {
        window.location.href="./{{id}}";
      }
      else {
        alert('提交失败，请检查网络连接。')
      }
    });
  }
  else {
    alert('请标记所有题目分数')
  }
}
function postbody() {
  $.post("./{{id}}",
  {
    body: $(".changebodytextarea")[0].value,
  },
  function(data,status){
    console.log(data)
    if (data == 'Done') {
      window.location.href="./{{id}}";
    }
    else {
      alert('修改试题内容失败')
    }
  });
}
var i = 0;
window.onload = function(){
  //渲染试题
  var len = {{ questions|length }};
  for (var p = 0; p < len; p++)
    $('#question' + (p + 1)).html(marked($("#raw_question" + (p + 1)).html()))
  //$('#body').html(marked($("#raw").html()))
  var numInuptradio = 0
  for (var i = 0; i < {{ questions|length }}; i++) {
    //$('#question' + (i + 1)).children('div.inputradio').children('input:radio[name="radio"]:checked').val()
    var q = $('#question' + (i + 1)).children('div.inputradio')
    for (var j = 0; j < q.size(); j++) {
        console.log(q[j])
        console.log(q.eq(j).children('input').attr("name", "radio" + '-' + (i + 1) + '-' + (j + 1)));
    }
  }
}
</script>
{% endblock %}
