{% extends "base.html" %}
{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-6 col-md-6 left">
              <textarea id="mdin" class="form-control child" style="height: 680px">
{% block markdowncontent %}{% endblock %}
              </textarea>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 right" id="rr" style="border: solid 1px darkgrey; border-radius: 5px; height: 680px; overflow-y: auto">
            <div id="mdout" class="child"></div>
          </div>
      </div>
  </div>
  <br>
  <p style="text-align: center"><a href="https://github.com/MatthiasHua/Mantels-Markdown-Editor"> Mantels Markdown Editor</a> Copyright © 2018</p>
  <script src="https://gitee.com/Matthias/Mantels-Markdown-Editor/raw/master/marked/marked-alpha.js"></script>
  <script>
  window.onload=function(){
    $('#mdout').html(marked($("#mdin").val()))

    const c=document.getElementById('container')
    const l=document.querySelector('.left')
    const r=document.querySelector('.right')
    const lc=l.querySelector('.child')
    const rc=r.querySelector('.child')


    console.log(rc.offsetHeight, r.offsetHeight, lc.offsetHeight, l.offsetHeight)
    console.log(rc.scrollHeight, r.scrollHeight, lc.scrollHeight, l.scrollHeight)
    console.log($("#mdout").height())
    console.log((rc.offsetHeight - r.offsetHeight) / (lc.scrollHeight - l.offsetHeight))

    //有边框宽度
    scale = (rc.offsetHeight - r.offsetHeight + 22) / (lc.scrollHeight - l.offsetHeight + 2)

    console.log(scale)

    lc.addEventListener('scroll', ()=>{
      if (currentTab !== 1) return
      $("#rr").scrollTop($("#mdin").scrollTop()*scale);
    })
    r.addEventListener('scroll', ()=>{
      if (currentTab !== 2) return
      $("#mdin").scrollTop($("#rr").scrollTop()/scale);
    })
    lc.addEventListener('mouseover', ()=>{
      currentTab = 1
    })
    rc.addEventListener('mouseover', ()=>{
        currentTab = 2
    })

  }
  $("#mdin").on("keyup blur",function () {
    $('#mdout').html(marked($("#mdin").val()))
  })
  </script>
{% endblock %}
