<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Mantels | Student</title>
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"><link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="http://mantelscourse.oss-cn-beijing.aliyuncs.com/marked/marked-last-stable.js"></script>
   <style text='text/css'>
       h1 {
         font-size: 30px;
         font-weight: 600;
       }

       h2 {
         font-size: 28px;
         font-weight: 600;
       }

       h3 {
         font-size: 24px;
       }

       h4 {
         font-size: 20px;
       }

       h5 {
         font-size: 16px;
       }

   </style>
   {% block style %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-default " role="navigation">
  	<div class="container-fluid">
  	<div class="navbar-header">
      {% if role == 'Teacher' %}
  		<a class="navbar-brand" href="/index">Mantels | Courses</a>
      {% elif role == 'Student' %}
  		<a class="navbar-brand" href="/courses/">Mantels | Courses</a>
      {% else %}
      {% block unloginbrand %}{% endblock %}
      {% endif %}
  	</div>
  	<div>
  		<ul class="nav navbar-nav navbar-right">
        {% if role == 'Teacher' %}
        <li><a href="#">教师</a></li>
  			<li class="dropdown">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  					{{username}}
  					<b class="caret"></b>
  				</a>
  				<ul class="dropdown-menu">
  					<li><a href="/teachercenter">个人中心</a></li>
  					<li class="divider"></li>
  					<li><a href="/teacher">课程中心</a></li>
            <li><a href="/markdowneditor">Markdown编辑器</a></li>
  					<li class="divider"></li>
  					<li><a href="/help">帮助文档</a></li>
  					<li><a href="/about">关于</a></li>
  					<li class="divider"></li>
  					<li><a href="/user_base/logout">注销</a></li>
  				</ul>
  			</li>
        {% elif role == 'Student' %}
        <li><a href="#">学生</a></li>
  			<li class="dropdown">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  					{{username}}
  					<b class="caret"></b>
  				</a>
  				<ul class="dropdown-menu">
  					<li><a href="/studentcenter/">个人中心</a></li>
  					<li class="divider"></li>
  					<li><a href="/student/">课程中心</a></li>
  					<li><a href="/help">帮助文档</a></li>
  					<li><a href="/about">关于</a></li>
  					<li class="divider"></li>
  					<li><a href="/user_base/logout">注销</a></li>
  				</ul>
  			</li>
        {% else %}
        {% block unlogin %}{% endblock %}
        {% endif %}
  		</ul>
  	</div>
  	</div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
